@import "global";

header {

	background: white;
	padding: 20px 0 0 0;
	border-bottom: 3px solid #cdcdcd;

}

.hero-image-wrapper {

	position: absolute;

	& img {

		width: 82%;
		float: left;

	}

}

.navigation {

	width: 190px !important;
	position: relative;
	top: 0;
	left: 0;
	float: right;
	background: white;
	border-left: 3px solid #cdcdcd;
	min-height: 600px;

	& ul {

		list-style: none;
		padding: 0px;
		margin: 0px;
		position: relative;

		& li {
			
			// margin-right: 2.3%;
			cursor: pointer;
			// display: inline-block;
			padding: .5em 1.5em;
			min-height: 1.5em;
			position: relative;

			& .sub-menu {

				display: none;

			}

			&:hover {

				background: $blue;
				color: white;

				& .sub-menu {

					display: block;
					color: black;
					position: absolute;
					top: 0;
					right: 188px;
					// padding-top: .8em;

					& li {

						padding: .8em .9em;
						min-width: 9em;
						background: white;
						margin-right: .29em;

					}


					& li:hover {
						color: white;
						background: $blue;
					}

				}


			}

		}

	}

}